// Inicio main Que Hacemos

.mainQueHacemos h2{

    color: $colorPrincipal;
    margin-top: 1em;
}

.seccion1{

    margin: 3em 0;
}

.qhtexto2 {

    margin-bottom: 2em;
}


.servicios1 {
    height: 9em !important;
}


// Fin main que hacemos