@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import "variables";
@import "header";
@import "footer";
@import "mainIndex";
@import "mainNosotros";
@import "mainQueHacemos";
@import "mainGaleria";
@import "mainContacto";
@import "mediaQuerys";


*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





